body {
    font-family: verdana;
    font-size: 11px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1080px;
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.block1 {
    background-color: #f21616;
    height: 75px;
    width: 75px;
}

.block2 {
    background-color: #f2f2f2;
    height: 75px;
    width: 75px;
}

.block3 {
    background-color: #0d0d0d;
    height: 75px;
    width: 75px;
}

.block7 {
    background-color: #0000ff;
    height: 75px;
    width: 75px;
}

.block8 {
    background-color: #ffd5ff;
    height: 75px;
    width: 75px;
}

.block9 {
    background-color: #00003d;
    height: 75px;
    width: 75px;
}