body {
    background-color: rgb(88, 25, 237);
    font-family: verdana;
    font-size: 11px;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1080px;
    margin: 5px;
}

.logo {
    border: 4px solid white;
    padding: 10px;
    text-align: center;
    font-size: 128px;
    width: 100px;
}

.text {
    margin-top: 5px;
}